body {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	background: url("../components/imgs/bg.jpg") top left repeat;
}

main {
	position: absolute;
	height: calc(100% - 45px);
	width: 1200px;
	margin: 45px calc(50% - 600px) 0 calc(50% - 600px);
	top: 0;
	background-color: rgba(0,0,0,0.35);
}

header, footer {
	margin: 0;
	width: 100%;
	height: 45px;
	position: absolute;
	background-color: #2A8676;
	color: rgb(255,255,255);
	font-family: PT Sans;
	font-size: 15px;
}

header {
	outline-width: 3px;
	outline-style: outset;
	outline-color: rgba(94,193,145,0.5);
}

footer {
	bottom: 0;
}

footer div {
	text-align: center;
	margin: 10px auto;
	padding: 3px 5px;
}

footer div span {
	text-decoration: underline;
}

.header_wrapper {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	height: 44px;
}

.logout_icon_box, .greeting_box {
	margin: 0 5px;
	position: relative;
	float: right;
	top: 10px;
}

.logout_icon_box {
	right: 0;
	padding: 0 30px 0 2px;
}
 .trolley_box {
 	left: 0;
 	padding: 8px 2px 8px 33px;
 	float: left;
 }

 .greeting_box {
 	padding-top: 5px;
 }

 .greeting_box span {
 	font-style: italic;
 	padding-left: 4px;
 }

#trolley_img {
	height: 30px;
	width: 30px;
}

#logout_img {
	height: 24px;
	width: 24px;
}

.device_not_supported {
	display: none;
}

 @media screen and (max-width: 1200px) {
 	 .header_wrapper {
 	 	position: absolute;
 	 	width: 100%;
 	 }
 	 main {
 	 	position: absolute;
 	 	width: 100%;
 	 	margin: 45px 0; 
 	 }
 }

 @media screen and (max-width: 480px) {
 	header, footer, main {
 		display: none;
 	}

 	body {
 		background: repeat none;
 	}

 	.device_not_supported {
 		display: block;
 		margin: 30px;
 		text-align: center;
 	}

 	}
 }