body {
	width: 100%;
	height: 100%;
	background-image: url("../components/imgs/bg.jpg");
}

.content {
	display: none;
}

.modal {
    width: 100%;
    height: 100%;
    background-image: inherit;
    position: absolute;
    background: rgba(0,0,0,0.2);
}

.modal-component__blurred-background {
	position: absolute;
	width: 100%;
	height: 100%;
	filter: blur(2px);
	background-image: inherit;
	z-index: -4;
}

.modal-component__container {
	display: flex;
	flex-direction: column;
	position: absolute;	
	width: 700px;
	height: 250px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	box-shadow: 0 0 32px rgba(0,0,0,0.5);
	box-sizing: border-box;
	z-index: 1;
}

.modal-component__content, .modal-component__header {
	width: 700px;
	margin: 0 auto;
	padding: 25px 19px 20px 20px;
	box-sizing: border-box;
	font-family: "PT Sans Caption";	
	font-size: 22px;		
	line-height: 29px;	
	text-align: center;	
	z-index: 1;
}

.modal-component__header {
	border-radius: 15px 15px 0 0;
	background-color: rgba(255,255,255,1);
	height: 70px;
	font-weight: bold;	
}

.modal-component__header p{
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.modal-component__content {
	border-radius: 0 0 15px 15px;
	background-image: url("../components/imgs/modal-bg.png");
	flex: 1;
	font-weight: normal;
	height: auto;
	flex-wrap: wrap;
}

@media screen and (max-width: 750px) {
	.modal-component__container {	
	width: 85%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

	.modal-component__content, .modal-component__header {
		width: 100%;
	}
}