.content {
	display: flex;
}

.content, .header, .footer {
	filter: blur(3px);
}

/*Styling modal*/

.modal, .modal__container, .modal__content {
	font-size: 17px;
}

.modal {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 10;
	font-size: 15px;
}

.modal-background {
	background: rgba(0,0,0,0.2);
	left: 0;
}

.modal__container {
	width: 45em;
	max-height: 580px;
}

.modal__header {
	width: 100%;
	height: auto;
	font-size: 1.5em;
	line-height: 2em;
	padding: 8px 20px;
}

.modal__content {
	width: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0.7em 0 30px 30px;
	padding: 0;
	max-height: 590px;
	align-content: stretch;
}

/*Styling admin filters*/

.filter-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
	width: 50%;
	padding-bottom: 0.5em;
}

.filter__title {
	display: block;
	width: 100%;
	font: 1em;
	line-height: 2em;
	padding: 3px 12px 0 0;
	margin-bottom: 5px;
	text-align: start;
	color: #000;
	font: 15px PT sans;
}

.filter__label, .filter__option {
	font-size: 0.8em;
	padding: 0 10px 0 5px;
}

.text-input {
	height: 2em;
	width: calc(100% - 30px);
	border-radius: 5px;
	background: #FFFFFF;
	padding: 0 15px;
	box-sizing: border-box;
	font: 14px PT sans;
	outline: none;
}

#description {
	height: 10em;
	padding: 15px;
}

#buttons-section {
	display: block;
	width: 50%;
	min-width: 300px;
	padding: 2px 0px 0px 0px; 
	margin-bottom: auto;
	margin-top: 2em;
}

.filter__button {
	height: 2.5em;	
	width: 9em;	
	border-radius: 5px;	
	background: linear-gradient(180deg, #2BBCC2 0%, #1B745F 100%);
	color: #FFF;
	font-size: 14px;
	line-height: 23px;
	font-family: "PT sans";
	outline: none;
	align-self: flex-end;
	float: right;
	margin-right: 30px;
}

.filter__button:active {
	background: linear-gradient(180deg, #2BBCC2 100%, #1B745F 0%);
}

#cancel-button {
	background: linear-gradient(180deg, #B1B1B1 0%, #777777 100%);
	right: 200px;
	align-self: flex-start;
	margin-bottom: -3em;
	float: left;
}

#cancel-button:active {
	background: linear-gradient(180deg, #777777 0%, #B1B1B1 100%);

}

.filter__select {
	appearance: none;
	-webkit-appearance: none;
	float: left;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 45px 0 15px;
	border: 0px;
	background: transparent;
	outline: none;
	font: 0.8em PT sans;
}

.select-field {
	position: relative;
	-webkit-appearance: none;
	outline: none;
	width: calc(100% - 30px);
	height: 2em;
	border-radius: 5px;
	border: #fff;
	background: #fff;
	color: #fff;
}

.select-field:after {
	position: absolute;
	top: 0.4em;
	right: 17px;
	content: '';
  	width: 12px;
  	height: 12px;
  	box-shadow: -1px 1px 0 #288575;
  	transform: rotate(315deg);
  	z-index: 4;
}


.filter__radio {
	appearance: none;
	-webkit-appearance: none;
	position: relative;
	width: 24px;
	height: 24px;
	background: #fff;
	border: 1px solid #288575;
	border-radius: 50%;
	outline: none;
	position: relative;
	display: inline-block;
	margin: 0;
}

.filter__radio:checked:before {
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #288575;
	position: absolute;
	top: 1px;
	left: 1px;
}

#product-image {
	height: 100%;
	max-height: 11em;
	width: calc(100% - 30px);
	margin: 20px 0 0 0;
	border: 1px solid #D8D8D8;
	padding-bottom: 0;
}

.filter__radio:checked + .filter__label {
		color: #288575;
	}

@media screen and (max-width: 1300px) {

.modal, .modal__container, .modal__content {
	font-size: 15px;
}

.modal__container {
	max-height: 550px;
}

.modal__content {
	max-height: 490px;
}
}


@media screen and (max-width: 740px) {

	html, body, .content, .modal, .modal-background {
		position: absolute;
		min-height: 80em;
		height: auto;
	}

	.filter-section {
		width: 100%;
	}

	.modal__container {	
	width: 85%;
	max-height: 2500px;
	height: auto;
	margin-bottom: 100px;
	}

	#product-image {
		height: 100%;
		max-height: 24em;
	}

	.modal-background {
		min-height: 85em;
	}
}