body {
	background: url("../components/imgs/bg.jpg") top left repeat;
}

.content {
	display: none;
}

.modal, .modal-background {
	display:-webkit-box;
	position: absolute;
	top: 0;
	width: 100%;
	height: auto;
	min-height: 100%;
	background: rgba(0,0,0,0.2);
	-webkit-box-align: center;
    -webkit-box-pack: center;  
}

.modal-background {
	background: url("../components/imgs/bg.jpg") top left repeat;
	filter: blur(3px);
	z-index: -10;
}

.modal__container {
	background: url("../components/imgs/modal-bg.png");
	display: flex;
	flex-direction: column;
	margin: 30px auto;
	width: 570px;
	height: auto;
	border-radius: 15px;
	box-shadow: 0 0 32px rgba(0,0,0,0.5);
	box-sizing: border-box;
	z-index: 2;
	font-family: "PT Sans Caption";
}

.modal__content, .modal__header {
	width: 570px;
	margin: 0 auto;
	padding: 25px 19px 20px 20px;
	box-sizing: border-box;
	font-size: 22px;		
	line-height: 29px;	
	text-align: center;	
	z-index: 1;
}

.modal__header {
	border-radius: 15px 15px 0 0;
	background-color: rgba(255,255,255,1);
	height: 70px;
	font-weight: bold;	
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);
}

.modal__header-text {
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.modal__content {
	border-radius: 0 0 15px 15px;
	flex: 1;
	font-weight: normal;
	height: auto;
	flex-wrap: wrap;
}

@media screen and (max-width: 750px) {
	.modal__container {	
	width: 85%;
	height: auto;
}

	.modal__content, .modal__header {
		width: 100%;
	}
}
