.content {
	height: auto;
}

.shopping-window {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
	justify-content: space-between;
	padding: 70px 15px;
	box-sizing: border-box;
}

.product-section {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 360px;
	margin: 15px;
}

.product-picture {
	width: 100%;
	z-index: 1;
}

.product-rating {
	width: 100%;
	height: 30px;
	background: rgba(0,0,0,0.75);
	margin-top: -30px;
	position: relative;
	z-index: 2;
	box-sizing: border-box;
	padding-left: 20px;
}

.rating-star_active {
	background: url("../components/imgs/star-active.svg") no-repeat;
}

.rating-star_inactive {
	background: url("../components/imgs/star-inactive.svg") no-repeat;
}

.rating-star_inactive, .rating-star_active {
	margin: 6px 3px;
	height: 100%;
    width: 17px;
    background-size: 100%;
    border: none;
}

.product-description {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	background: url("../components/imgs/modal-bg.png");
	padding: 15px 20px;
}

.product-name, .product-description__text, .product-price {
	font-family: "PT sans";
	color: #000;
}

.product-name {
	font-size: 18px;
	font-weight: bold;
	padding: 3px 3px 10px;
	justify-content: center;
	border-bottom: 2px solid #3FC5CB; 
}

.product-description__text {
	padding: 15px 0;
	margin-bottom: 40px;
	line-height: 19px;
	align-content: flex-start; 
}

.product-button {
	height: 35px;	
	width: 120px;	
	border-radius: 5px;	
	background: linear-gradient(180deg, #2BBCC2 0%, #1B745F 100%);
	outline: none;
	position: absolute;
	right: 20px;
	bottom: 15px;
}

.product-button::before {
	content: "Show more";
	color: #FFF;
	font-size: 17px;
	line-height: 23px;
	font-family: "PT sans";
}

.product-price {
	position: absolute;
	font-size: 24px;
	font-weight: bold;
	bottom: 15px;
}

.product-price::before {
	content: "$";
	color: #288575;
}

.product-button:active {
	background: linear-gradient(180deg, #1B745F 0%, #2BBCC2 100%);
}


@media screen and (max-width: 1200px) {
 	 .product-section {
 	 	width: calc(50% - 30px);
 	 }
 }

@media screen and (max-width: 800px) {

	.product-section {
		width: auto;
		margin: 15px 21px;
	}
}